@{ 

    ViewBag.Title = "Услуги психолога";

}

<div>
    <h3>Услуги:</h3>
    <table>
        <tr>
            <td>
                Наименование
            </td>
            <td>
                Категория
            </td>
            <td>
                Стоимость
            </td>
            <td></td>
        </tr>
        @foreach (var s in ViewBag.PsyServices) 
        { 
            <tr>
                <td>@s.Name</td>
                <td>@s.Type</td>
                <td>@s.Price</td>
                <td><p><a href="/Home/Order/@s.Id">Заказать</a></p></td>
            </tr>
        }
    </table>


</div>