

<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Заказ услуги</title>
</head>
<body>
    <div>
        <h3>Форма заказа услуги</h3>
        <form method="post" action="">
            <input type="hidden" value="@ViewBag.PsyServiceId" name="PsyServiceId" />
            <table>
                <tr>
                    <td><p>Введите Ваше имя</p></td>
                    <td>
                        <input type="text" name="Person" />
                    </td>
                </tr>
                <tr>
                    <td><p>Коротко опишите проблему</p></td>
                    <td>
                        <input type="text" name="Description" />
                    </td>
                </tr>
                <tr><td><input type="submit" value="Отправить" /></td></tr>
            </table>
        </form>
    </div>
</body>
</html>

